body {
}


.containershop{
    margin-top: 5vh;
    
}
.containershop h2 {
    padding-left: 0;
    position: relative;
    margin-top: 20px;
    display: inline-block;
}
.containershop h4 {
    position: relative;
    margin-top: 10px;
    display: inline-block;
    padding-left: 0px;
}

.shoppingbutton{
    background-color: #00838F !important;
    border: none !important;
    color: #F5EDF0 !important;
}
.shoppingbutton:hover{
   background-color:  #009ba9 !important;
}

.dropdownlists{
    
    
    
}

.dropdownlists h5{
    position: relative;
    display:inline-block;
    margin-top:20px;
    font-weight:bold;
    padding-left: 0px;
    
}

.containershop p {
    position: relative;
    margin-top: 10px;
    display: inline-block;
    width: 40vw;
    padding-left: 0px;
}


.imagecontainer {
    margin-left: 2vw;   
}



.imagecontainer img{
    height: 75vh;
    width: auto;
    float:left;
}

footer{
    text-align: center;
    position:fixed;
    bottom:0px;
    width: 90%;
    margin: 4px;

}


