@model Tuple<List<Webbshop.Models.Product>, List<Webbshop.Models.Color>, List<Webbshop.Models.Size>>
@{
    ViewBag.Title = "Index";
}
@section ShopIndex {
    <link href="@Url.Content("~/Content/ShopIndex.css")" rel="stylesheet" type="text/css" />
}
<div class="center">
    <h1>Kikom & Novej</h1>
</div>

<div style="float:none">
    @foreach (var p in Model.Item1)
    {
        foreach (var i in Model.Item2)
        {
            if (i.Product_Id == p.Id)
            {
                <a href="@Url.Action("Index", "Shop", new { productID = p.Id, colorID = i.Id })">
                    <div class="ShopItem">
                            <img class="ShopImg", src="~/Images/Products/@i.Img_Name">
                        <div>
                            <h2>@p.Name</h2>
                            <p>@p.Price SEK</p>
                        </div>
                    </div>
                </a>
            }
        }
    }
</div>