@model Tuple<Webbshop.Models.Product, List<Webbshop.Models.Color>, List<Webbshop.Models.Size>, Webbshop.Models.Color>
@{
    ViewBag.Title = "ProductView";
}

<main class="containershop">
    
 
        <div class="imagecontainer">
            <img src="~/Images/Products/@Model.Item4.Img_Name" style="margin-right:50px;"/>
        </div>
    <h2>@Model.Item1.Name</h2>

    <div class="dropdownlists">
        <table>
            <tr>
                <td>
                    <div class="colordrop" style="margin-right: 20px;">
                        <h5 style="margin-left: 3px;">Välj Färg</h5>
                            @Html.DropDownList("ColorId", null,  htmlAttributes: new {@class = "form-control", @style = "width: 170px;", id="test", onchange = "GetSelectedTextValue(this)" } )

                        <!--onchange = "SelectionChanged()"-->
                    </div>
                </td>
                <td>
                    <div class="colordrop">
                        <h5 style="margin-left: 3px;">Välj Storlek</h5>
                        @Html.DropDownList("SizeId", null, htmlAttributes: new { @class = "form-control", @style = "width: 170px;" })
                    </div>
                </td>
            </tr>  
        </table>
        <table>
            <tr>
                <td style="width: 364px;">
                    <button class="shoppingbutton form-control" style="margin-top:15px; ">Lägg till i kundvagn</button>
                </td>
            </tr>
        </table>
        
    </div>
    
    <div class="productdescription">
        
        <br />
        <h4>Produktbeskrivning:</h4>
        <br />
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
         voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione 
        voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
    </div>
    

</main>

<script>
</script>

<script type="text/javascript">
    function GetSelectedTextValue(test) {
        var selectedValue = test.value;
        var url = '@Html.Raw(Url.Action("ProductView", "Shop"))' + "?colorId="+ selectedValue;
        window.location = url;
    }
</script>