@model Webbshop.Models.Category
@using Webbshop.Models;
@{
    var user = Session["ViewUser"] as ViewUser;
}

@if (user != null)
{
    if (user.Email != "admin")
    {
        { Response.Redirect("~/Shop/Index"); }
    }
}
else
{
    { Response.Redirect("~/Shop/Index"); }
}
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
